<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .error{
            color: whitesmoke;
        }
    </style>
    <%- include('../Links/HeaderFiles.ejs') %>
</head>
<body>

<div id="preloader"></div>


<div id="wrapper">

    <%- include('../Links/Admin2.ejs') %>

    <div class="inner-page-banner-area" style="background-image: url('/img/about/1.jpg');">
        <div class="container">
            <div class="pagination-area">

                <h1>OTP</h1>
            </div>
        </div>
    </div>

    <div class="service2-area">
        <div class="search-area">
            <div class="container">
                <div class="row search-inner">
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
                        <div class="search-title">
                            <span>Enter OTP</span>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12">
                        <div class="search-input">
                            <form id="form">
                                <input type="text" required name="otp" id="otp" class="search-form" placeholder="Enter OTP . . .">
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
                        <div class="search-submit">
                            <button class="btn btn-primary" onclick="Verify()">Verify OTP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../Links/Footer.ejs') %>

</div>
<%- include('../Links/Scripts.ejs') %>
<script>
    async function Verify() {
        let adminotp = document.getElementById('otp').value;

        if($("#form").valid()) {

            let url = '/admin-otp/<%= email.email %>'

            let response = await fetch(url, {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({adminotp: adminotp})
            });
            response = await response.json();
            console.log(response);


            if (response.error !== "") {
                alert( response.error)
            } else {
                //console.log("success")
                Swal.fire({
                    title: "Good job!",
                    text: "You clicked the button!",
                    icon: "success"
                })
                    .then(() => {
                        window.location.href = '/admin-newpass/<%= email.email %>'
                    });
            }
        }


    }

</script>
</body>
</html>